*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/**HEADER**/

.topHead{
    padding: 0px;
    background-color: black;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 150px;
}

.topElement{
    padding: 10px;
    margin-right: 15rem;
    font-weight: bold;
    font-size: 20px;
    color: #FCFFE3;
}

.highlight{
    border: solid 3px #FCFFE3;
    border-style: dotted;

}

a{
    text-decoration: none;
    color: #FCEE3D;
}

a:hover{
    color: #FCFFE3;
}

.secHead{
    padding: 0px;
    background-color: gray;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: beige;
}

.secElement{
    padding: 20px;
    margin-right: 10rem;
    font-weight: bolder;
    font-size: 34px;
}

.logo{
    max-width: 67px;
    margin-left: 150px;
}

.secHead > a > img{
    max-width: 300px;
}

/**MAIN GAME PAGE**/

.scoreBoard{
    margin: 30px auto;
    border: solid 5px #FCEE3D;
    width: 300px;
    border-radius: 10px;
    color: black;
    font-size: 56px;
    text-align: center;
    padding: 40px 40px;
    font-weight: bolder;
    position: relative;
}

.element{
    background: #FCEE3D;
    color: black;
    font-size: 25px;
    padding: 10px 40px;
}

.computer{
    position: absolute;
    top: 40px;
    left: -210px;
}

.user{
    position: absolute;
    top: 40px;
    left: 380px;
}

.result{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.choicesElement{
    margin: 50px 0;
    text-align: center;
}

.choice > img{
    max-height: 70px;
}

.choice{
    padding: 50px 50px 50px 50px;
    border: 8px solid #FCEE3D;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.5s ease;
}

.choice:hover{
    cursor: pointer;
    background: #FCFFE3;
}

.msg{
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 30px;
}

/**MAIN INDEX**/

.main_1{
    height: 500px;
}

.titrePage{
    padding: 100px 100px 100px 100px;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    transition: all 1.5 ease;
}

.titrePage:hover{
    font-size: 40px;
}

.trait{
    align-content: center;
    margin-left: 600px;
    width: 300px;
    height: 5px;
    background-color: #FCEE3D;
}

.text{
    margin-top: 100px;
}

.t{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.click{
    margin-left: 700px;
    padding: 10px;
    background-color: black;
    font-size: 30px;
    border: solid 2px #FCFFE3;
    border-radius: 10%;
}

.click:hover{
    background-color: #FCEE3D;
}

/**FOOTER**/

.footer{
    background-color: #FCFFE3;
    margin-top: 50px;
    text-align: center;
    height: 150px;
}

.footer > img{
    max-width: 80px;
    margin-top: 20px;
}

.footer > p{
    padding-top: 10px;
    font-size: 24px;
    font-weight: bolder;
}